<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>    Jenni Thomsen</p>
        <p>    © JR Counseling, LLC</p>
      </div>

      <div class="col-md-2">
        <img src="/img/footer-logo.png" class="footer-logo" alt="Jenni Thomsen JR Counseling">
      </div>

      <div class="col-md-5">
        <p>    11329 P Street, Suite 113 Omaha, NE 68127</p>
        <p>    <a href="mailto:jenni@jennireneecounseling.com">jenni@jennireneecounseling.com</a></p>
        <p>    <a href="tel:402-819-7885">402-819-7885</a></p>
      </div>


    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151315385-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151315385-1');
</script>

</footer>
