<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About Me</a></li>
            <li><a href="{{ site.baseurl }}/services">Services</a></li>
            <li><a href="{{ site.baseurl }}/groups">Groups</a></li>
            <li><a href="{{ site.baseurl }}/fees-and-insurance">Fees and Insurance</a></li>
            <li><a href="{{ site.baseurl }}/forms-and-documents">Forms and Documents</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
